.Register {


  .container {
    display: flex;
    margin: 70px 300px;
    border-radius: 5px;
    position: relative;
    .image {
      img {
        width: 600px;
        height: 615px;
        object-fit: cover;
        margin-top: 1px;
        margin-left: 7px;
      }
    }

    .info {
      position: absolute;
      left: 460px;
      margin: 0px 140px;
      padding: 0px 50px;

      color: white;
      background-color: lightgray;

      label {
        font-size: 20px;
      }
      input {
        padding: 5px;
        border-radius: 5px;
        border: none;
      }
      .error-text {
        color: red;
      }
      button {
        border-radius: 5px;
        margin-left: 50px;
        margin-top: 10px;
        background-color: yellow;
        color: black;
        font-weight: 900;
        padding: 8px;
        cursor: pointer;
      }
    }
  }
}
